*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color: #129568;
}

body{
  height: 100vh;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  background-color: #000;
  width: min(100%, 1100px);
  height: 70vh;
  position: relative;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
.video-file{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.control-bar{
  position: absolute;
  max-width: 1100px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  background-color: rgba(255 255 255 / .7);
  color: #000;
  display: grid;
  gap: .5rem;
  grid-template-columns: 45% 55%;
  grid-template-areas: 
  'time time'
  'nav options';
}

.nav-btns{
  grid-area: nav;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: start;
}
.nav-btns button{
  border: none;
  background-color: #000;
  padding: .2rem .8rem;
  color: #eee;
  border-radius: 5px;
}
.nav-btns button:nth-child(1){
  background-color: crimson;
  font-size: 1.1rem;
}
.time-stats{
  grid-area: time;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.time-stats span{
  font-size: .7rem;
  columns: #555;
}
.progress-bar{
  flex-grow: 1;
  height: 9px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}
.progress{
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: inherit;
}
.progress::after{
  content: '';
  height: 150%;
  width: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  border-radius: 5px;
  background-color: var(--primary-color);
  z-index: 10;
}

.option-btns{
  grid-area: options;
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: end;
}
.volume-bar{
  flex-grow: 1;
  height: 5px;
  border-radius: 3px;
  max-width: 4rem;
  background-color: #fff;
  position: relative;
}
.volume{
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: inherit;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
}
.option-btns .bi-fullscreen{
  margin-left: 2rem;
  float: right;
}

.middle-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  display: none;
}

.middle-icon.animate{
  display: inline-block;
  animation: middleIconEffect 0.4s ease-out;
}

@keyframes middleIconEffect {
  0%{
    opacity: 1;
    transform: scale(0.8) translate(-50%, -50%);
  }
  100%{
    opacity: 0;
    transform: scale(1.2) translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .control-bar{
    grid-template-columns: 1fr 8.5fr 2.5fr;
    grid-template-areas: 
    'nav time options';
  }
  .time-stats span{
    font-size: 1rem;
  }
  .option-btns{
    justify-content: unset;
  }
  .option-btns i{
    font-size: 1.2rem;
  }
  .volume-bar{
    height: 7px;
    max-width: unset;
  }
  .option-btns .bi-fullscreen{
    margin-left: 0;
  }
}
